:root {
	--primary: black;
	--bg: rgba(0, 0, 0, 0.9);
}

*, *:before, *:after {
	font-family: "Pixelify Sans", sans-serif;
	font-style: normal;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
}

body {
	background-color: var(--bg);
	color: white;
}
td {
    vertical-align: top;
    padding-bottom: 15px;
}

#navbar {
	display: grid;
	position: sticky;
	width: 100%;
	height: auto;
	background-color: var(--primary);
	grid-template-columns: 1fr 1fr;
	padding: 5px 1%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: 2px 5px rgba(19, 15, 15, 0.8);
	/*
	box-shadow: -1px 1px 1px 0px rgba(0,0,0,0.8);
	-webkit-box-shadow: -1px 3px 6px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: -1px 3px 6px 0px rgba(0,0,0,0.8);
	*/
}
#navbar-main {
    display: flex;
    height: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#navbar-title {
    font-size: 28px;
}
#sub-title {
    font-size: 20px;
    display: block;
}

#navbar-secondary {
	display: flex;
	justify-content: end;
	align-items: center;
	padding-right: 5%;
}

.gateway {
    margin-right: 10px;
    border: white solid;
    padding: 4px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
	width: 100%;
	height: 100%;
    padding-left: 30px;
    padding-block: 30px;
}

.photo-group {
    margin-bottom: 50px;
    width: 33%;
	height: auto;
}
.photo-detail {
	padding-right: 30px;
}
@media screen and ( max-width: 1060px){
	.photo-group {
		width: 50%;
	}
}
@media screen and (max-width: 480px) {
	.photo-group {
		width: 100%;
	}
}
.photo-box {
    border: 1px solid black;
    margin-right:27px;
}
.photo-box img {
	width: 100%;
}

/* .nav-kiri img {
	width: 50px;
	height: 50px;
	float: left;
}

.landing-image {
	width: 100%;
	height: 800px;
	background-image: url("img/slideshow-03.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -120px;
	display: flex;
	align-items: center;
}

.landing-image p {
	margin: 0 auto;
	font-size: 60px;
	color: var(--bg);
	-webkit-text-stroke: 2px black;
	font-weight: bolder;
}

.landing-image p span {
	font-style: oblique;
}

.promo {
	width: 100%;
	height: 600px;
	background-color: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.promo .new-promo {
	width: 50%;
	height: 500px;
	background-color: var(--bg);
	justify-content: center;
}

.new-promo .items-np {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
}

.line {
	border-bottom: 1px solid var(--primary);
}

.right-np {
	padding: 15px;
}

.right-np ul {
	list-style-type: none;
	font-size: 25px;
}

.right-np .order-icon {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.order-icon a {
	width: 60%;
	color: white;
}

.new-promo p {
	text-align: center;
	font-size: 30px;
}

.left-np img {
	display: block;
	margin: 0 auto;
}

.left-np p {
	text-align: center;
	font-size: 30px;
	margin: 10px;
	display: block;
}

div.pesan {
	width: 100%;
	background-color: limegreen;
	height: 30px;
	border-radius: 3px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.pesan p {
	font-size: 15px;
}

.pesan img {
	width: 25px;
	height: 25px;
}

footer {
	background-color: var(--primary);
}

footer p {
	text-align: center;
	margin: 10px;
	font-size: 20px;
	padding-top: 15px;
	color: var(--bg);
}

footer .social {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 10px;
}

.social div {
	margin-bottom: 50px;
	width: 30px;
	height: 30px;
	background-color: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.social div:hover {
	width: 35px;
	height: 35px;
}

.social div a {
	margin: 10px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	color: var(--primary);
}

.youtube a img {
	width: 20px;
	height: 20px;
}
.tiktok a img {
	width: 20px;
	height: 20px;
}
.instagram a img {
	width: 20px;
	height: 20px;
} */